#!/usr/bin/python

settings = 'company'
#settings = 'gentest'
#settings = 'emptydb'

graph_start = 30*2

if settings == 'company':
	tsm_username = "username"
	tsm_password = "password"
	tsm_server = "tsmserver"
	local_username = "statmon"
	local_password = "statmon"
	local_db = "statmon"
	local_host = "statmon.company.net"

if settings == 'gentest':
	tsm_username = None
	tsm_password = None
	local_username = "gentest"
	local_password = "gentest"
	local_db = "gentest"
	local_host = "statmon.company.net"
	graph_start = 365*4

if settings == 'emptydb':
	tsm_username = None
	tsm_password = None
	local_username = "emptydb"
	local_password = "emptydb"
	local_db = "emptydb"
	local_host = "statmon.company.net"
	graph_start = 365*4

# Graph stuff, dont change unless you know what you are doing
graph_width = '700' # Default width of graphs
graph_height = '100'

# This is a comma seperated list of msgno to ignore when fetching actlog
# Keeping this list up to date should greatly improve statmon performance
# when searching activity log
actlog_ignore_msgs = [ 45778, 147830, 147876 ]
